{%extends 'mainview/base.html'%}

 {% block content %}
 <div class="container">
  <div class="row">
    <h1 class="text-center">{{image.image_name}}</h1>
  </div>

   <div class="row">
     <img src="{{image.image.url}}"  class="img-responsive" alt="" style="max-width:800px;">
   </div>

  <div class="row">
      <h3>{{image.image_caption}}</h3>
  </div>
  <div class="row">
    <h4>Comments</h4>
    {%for comment in image_comments%}
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{comment.comment}}</li>
      </ul>
    </div>
    {%endfor%}
  </div>

  <div class="row">
    <a href="{% url 'comment' image_id=image.id %}" class='btn btn-outline-danger'>Add Comment</a>
  </div>

</div>

 {% endblock %}