{%extends 'mainview/base.html'%}
{% block content %}
<h1>InstaMine</h1>
<!-- <h1>Welcome to my Gallery</h1> -->
{%for item in image_display%}
<div class="col-sm-6  col-md-4">
    <div class="thumbnail">
        <a href="{% url 'imageview' image_id=item.id %}"><img id='myImg' src="{{item.image.url}}" class="img-responsive myImg" alt="Image" data-toggle="modal" data-target="#exampleModal{{item.id}}"class="img-responsive" alt="Image" style="max-width:300px;"></a>
        <div class="caption">
            <h3>{{item.image_name}}</h3>
            <p>{{item.image_caption| truncatechars:25}}.</p>
            <p>{{item.pub_date}}</p>

            
        </div>
        
    </div>
</div>
{%endfor%}
{% for comment in comments %}
        <p>@{{comment.user.username}} - {{comment.comment}} </p>
{% endfor %}
{%endblock%}
